<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>change password</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">

</head>
<body>
<section class="banner d-flex">
<div style="padding: 20px 10px;" class="signin-form">

<div th:if="${session.message}" th:classappend="${session.message.type}"  class="form-alert d-flex" role="alert">
<p th:text="${session.message.content}"></p>
<th:block th:text="${@sessionHelper.sessionHelperMethod()}" ></th:block>
</div>
<form action="" th:action="@{/change-password}" method="post">
<div style="margin-top:15px; margin-bottom:15px; padding: 20px 10px;" class="form-alert d-flex">
Enter New Password
</div>
<input  required="required" type="password" style="margin: 0px; width: 300px;" class="confirm-input" name="newPassword" placeholder="Enter New Password">

<div>

<button type="submit" style="width: auto; text-align: center;" class="update-button">Change Password</button>
</div>

</form>


</div>
</section>
</body>
</html>